.nav-root {
    height: 100%;
    width: 100%;

    display: flex;
    flex-flow: column;

    >.nav-button-container{
        height: calc(100% - 3em);
        width: 100%;

        display: flex;
        flex-flow: column;
        >.MuiButton-root {
            margin: 0.2em;
        }
        >.nav-slider-container{
            margin: 0.2em;
            background-color: #fefefe;
            padding-right: 2em;
            padding-left: 2em;
            border: 5px solid #1976d2;
            border-radius: 4px;
            >.text{
                background-color: #fefefe;
                padding: 3px;
            }
        }
    }
    >.nav-version{
        height: 3em;
        width: 100%;
    }
}

.wide-display-nav {
    display: none;
}


// 600px 以上
@media (min-width: 600px) {
    .wide-display-nav {
        display: flex;
        justify-content: end;
    }
}