.content-root {
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg-canvas {
    border: solid 1px #404040;

    .plut-g {
        cursor: move;
    }
}