.content-root {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg-canvas {
    border: solid 1px #404040;

    .plut-g {
        cursor: move;
    }
}

// 600px 以上
@media (min-width: 600px) {
    .content-root {
            height: 100vh;
        }
}