.nav-root {
    height: 100%;
    width: 100%;

    display: flex;
    flex-flow: column;

    >.MuiButton-root {
        margin: 0.2em;
    }
}

.wide-display-nav {
    display: none;
}


// 600px 以上
@media (min-width: 600px) {
    .wide-display-nav {
        display: flex;
        justify-content: end;
    }
}